<tabset #staticTabs>
  <tab heading="Map">
    <div class="row" *ngIf="cars">
      <div class="col-sm-9">
        <agm-map
          #map
          (mapClick)="selectedCar = null"
          [latitude]="51.900223"
          [longitude]="-1.157684"
          [zoom]="12"
          [styles]="'transit'"
          [disableDoubleClickZoom]="true">
          <div *ngIf="gpsPoints">
            <div *ngIf="selectedCar == null">
              <div *ngFor="let car of cars">
                <agm-marker
                  *ngIf="car.latestGpsPoint"
                  (markerDblClick)="selectedCar = car"
                  [latitude]="car.latestGpsPoint.latitude"
                  [longitude]="car.latestGpsPoint.longitude"
                  [iconUrl]="'https://mt.googleapis.com/vt/icon/name=icons/onion/27-cabs.png&scale=0.75'">
                  <agm-info-window>
                    {{car.licensePlate}}
                    <button class="btn btn-primary btn-sm" (click)="selectedCar = car">Show movement</button>
                  </agm-info-window>
                </agm-marker>
              </div>
            </div>
            <div *ngIf="selectedCar">
              <agm-marker
                *ngFor="let gpsPoint of selectedCar.gpsPoints"
                [latitude]="gpsPoint.latitude"
                [longitude]="gpsPoint.longitude"
                [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'"
                [opacity]="gpsPoint.opacity">
                <agm-info-window>
                  {{gpsPoint.date.epochSecond}}
                </agm-info-window>
              </agm-marker>
            </div>
          </div>
        </agm-map>
      </div>
      <div class="col-sm-3 sideview">
        <ul class="list-group">
          <li *ngFor="let car of cars" class="list-group-item justify-content-between" (click)="selectedCar = car"
              (dblclick)="gotoCar(car)">
            {{car.licensePlate}} - {{car.carType}}
          </li>
        </ul>
      </div>
    </div>
  </tab>
  <tab heading="Details">
    <div class="card">
      <div class="card-body">
        <ng2-smart-table
          [source]="cars"
          [settings]="settings"
          (editConfirm)="confirmEdit($event)"
          (createConfirm)="confirmCreate($event)"
          (deleteConfirm)="confirmDelete($event)">
        </ng2-smart-table>
      </div>
    </div>
  </tab>
</tabset>
