<div class="card" style="background-color:black">
  <div class="card-image flex">
    <img class="card-img-top center-block"  src="/assets/gov-uk-full.png" alt="Banner" width="600" height="315">
  </div>
  <div class="card-block">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" placeholder="Username" [(ngModel)]="username">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" [(ngModel)]="password">
      </div>
    </form>
    <button class="col-md-3 offset-9 btn btn-success" [disabled]="password === '' || username === '' || admins.indexOf(username) == -1" routerLink="/car">Login</button>
  </div>
</div>
