<div class="card">
  <div class="card-title">
    <h4 class="display-4 text-center">Select a region to edit it</h4>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <table class="table table-sm card-text">
          <thead>
          <tr>
            <th>Name</th>
            <th>Longitude</th>
            <th>Latitude</th>
            <th>Radius</th>
            <th>Cost Multiplier</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let region of regions" (click)="selectedRegion = region"
              [ngClass]="{'table-danger':this.selectedRegion && this.selectedRegion.uuid == region.uuid}">
            <th scope="row">{{region.name}}</th>
          <td>{{region.longitude}}</td>
          <td>{{region.latitude}}</td>
          <td>{{region.radius}}</td>
          <td>{{region.costMultiplier}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <sebm-google-map
      (mapClick)="selectedRegion = null"
      [latitude]="51.900223"
      [longitude]="-1.157684"
      [zoom]="9"
      [styles]="'transit'">
      <sebm-google-map-circle
        *ngFor="let region of regions; let i = index"
        (circleClick)="selectedRegion = region;"
        (radiusChange)="radiusChanged(region,$event)"
        (centerChange)="locationChanged(region, $event)"
        [latitude]="region.latitude"
        [longitude]="region.longitude"
        [radius]="region.radius"
        [circleDraggable]="this.selectedRegion && this.selectedRegion.uuid == region.uuid"
        [editable]="this.selectedRegion && this.selectedRegion.uuid == region.uuid"
        [zIndex]="i"
        [fillColor]="this.selectedRegion && this.selectedRegion.uuid == region.uuid ? 'red' : 'blue'"></sebm-google-map-circle>
      <!--<sebm-google-map-marker *ngFor="let region of regions" [latitude]="region.latitude" [longitude]="region.longitude"></sebm-google-map-marker>-->
    </sebm-google-map>
  </div>
</div>
<div class="row justify-content-between">
  <div class="col-sm-3">
    <button (click)="selectedRegion = null" class="btn btn-danger btn-block">Clear selection</button>
  </div>
  <div *ngIf="selectedRegion" class="card col-sm-6">
    <div class="card-body">
      <div class="card-title">
        <h4>
          {{selectedRegion.name}}
        </h4>
      </div>
      <div class="card-text">
        <form>
          <div class="form-group row">
            <label for="longitude" class="col-sm-2 col-form-label">Longitude</label>
            <div class="col-sm-10 input-group">
              <input [(ngModel)]="selectedRegion.longitude"
                     type="number"
                     step="0.000001"
                     name="longitude"
                     class="form-control"
                     id="longitude"/>
              <div class="input-group-addon">°</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="longitude" class="col-sm-2 col-form-label">Latitude</label>
            <div class="col-sm-10 input-group">
              <input [(ngModel)]="selectedRegion.latitude"
                     type="number"
                     step="0.000001"
                     class="form-control"
                     name="latitude"
                     id="latitude"/>
              <div class="input-group-addon">°</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="radius" class="col-sm-2 col-form-label">Radius</label>
            <div class="col-sm-10 input-group">
              <input [(ngModel)]="selectedRegion.radius"
                     type="number"
                     class="form-control"
                     name="radius"
                     id="radius"/>
              <div class="input-group-addon">m</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="costMultiplier" class="col-sm-2 col-form-label">Cost Multiplier</label>
            <div class="col-sm-10 input-group">
              <input [(ngModel)]="selectedRegion.costMultiplier"
                     type="number"
                     step="0.01"
                     class="form-control"
                     name="costMultiplier"
                     id="costMultiplier"/>
              <div class="input-group-addon">x</div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <button (click)="save(regions)" class="btn btn-primary btn-block">Save</button>
  </div>
</div>


