<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Amount</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let invoice of invoices">
    <th scope="row">{{invoice.uuid}}</th>
    <td>Gerben</td>
    <td><input type="text" name="pricetotal-{{invoice}}" [(ngModel)]="invoice.priceTotal"></td>
    <td><input type="text" name="status-{{invoice}}" [(ngModel)]="invoice.status"></td>

    <button type="button" class="btn btn-primary" (click)="mailInvoices(invoice.uuid)">Mail invoices</button>
  </tr>
  </tbody>
</table>

<button class="btn-primary" (click)="save()">Update invoices</button>
